@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  font-family: League Spartan;
}

body {
  padding-left: 50px;
}
@media (max-width: 555px) {
  body {
    padding: 0;
  }
}
body .home__body {
  position: fixed;
  left: 63px;
}
@media (max-width: 1250px) {
  body .home__body {
    left: 20px;
  }
}
@media (max-width: 555px) {
  body .home__body {
    display: none;
  }
}

header {
  margin: auto;
  max-width: 1110px;
  display: flex;
  align-items: center;
  -moz-column-gap: 95px;
       column-gap: 95px;
  padding: 56px 20px 0 0;
}
header ul {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  list-style: none;
}
header ul a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #7D828F;
}
header ul a:hover {
  color: #1B1D23;
  transition: 0.2s;
}
@media (max-width: 725px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  header ul {
    display: none;
  }
  header .btn-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 17px;
  }
  header .btn-menu div {
    max-width: 100%;
    height: 3px;
    background: #1B1D23;
  }
  header .is-active {
    width: 345px;
    height: 235px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0px;
    background: #EEEFF4;
    justify-content: center;
    row-gap: 17px;
    padding-left: 48px;
    margin-left: 32px;
  }
}
@media (max-width: 725px) and (max-width: 430px) {
  header .is-active {
    max-width: 280px;
  }
}
@media (max-width: 725px) {
  header .is-active li a {
    color: #1B1D23;
    font-size: 32px;
    line-height: 40px;
  }
}

.welkome {
  max-width: 1110px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  background-image: url(../about.img/welkome.png);
  background-repeat: no-repeat;
  background-position: top right;
}
@media (max-width: 1055px) {
  .welkome {
    background-image: none;
  }
}
.welkome .dashboard {
  width: 65px;
  height: 3px;
  background: #C8CCD8;
}
.welkome .welkome__div {
  max-width: 446px;
  flex-shrink: 0;
}
.welkome .welkome__div h2 {
  color: #1B1D23;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.welkome .welkome__div .welkome__div__list p {
  color: #60636D;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.leaders {
  max-width: 1110px;
  margin: auto;
  display: flex;
}
@media (max-width: 1180px) {
  .leaders {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.leaders h2 {
  color: #1B1D23;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-right: 13.2%;
}
.leaders .leaders__about {
  width: 730px;
  height: 861px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 63px;
}
@media (max-width: 795px) {
  .leaders .leaders__about {
    justify-content: center;
  }
}
.leaders .leaders__about .leader__img {
  width: 350px;
  height: 399px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.leaders .leaders__about .leader__img h4 {
  color: #1B1D23;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}
.leaders .leaders__about .leader__img p {
  color: #1B1D23;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

footer {
  max-width: 100%;
  margin-top: 20%;
}
@media (max-width: 750px) {
  footer {
    margin-top: 30%;
  }
}
footer .footer__square {
  max-width: 1110px;
  margin: auto;
  display: flex;
}
@media (max-width: 800px) {
  footer .footer__square {
    width: 100%;
    height: 100%;
    background: #EEEFF4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer .footer__square .square {
  width: 200px;
  height: 200px;
  background: #1B1D23;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1120px) {
  footer .footer__square .square {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 750px) {
  footer .footer__square .square {
    transform: translateY(-50%);
  }
}
footer .footer__square .square img {
  width: 96.164px;
  height: 40px;
}
@media (max-width: 1120px) {
  footer .footer__square .square img {
    width: 58px;
    height: 24.125px;
  }
}
footer .footer__square .footer__list {
  width: 900px;
  background-image: linear-gradient(to right, #EEEFF4, #EEEFF4 90%, white 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 43px;
}
@media (max-width: 1120px) {
  footer .footer__square .footer__list {
    max-width: 100%;
    height: 120px;
  }
}
@media (max-width: 750px) {
  footer .footer__square .footer__list {
    background: none;
    flex-direction: column;
    align-items: center;
    height: 383px;
    justify-content: center;
    gap: 0;
    width: 0;
    margin-top: -80px;
  }
}
@media (max-width: 805px) {
  footer .footer__square .footer__list {
    background-image: none;
  }
}
footer .footer__square .footer__list ul {
  width: 313px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 750px) {
  footer .footer__square .footer__list ul {
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    margin-top: 35px;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
  }
}
footer .footer__square .footer__list ul a {
  text-decoration: none;
  color: #7D828F;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
footer .footer__square .footer__list ul a:hover {
  color: #1B1D23;
}
footer .footer__square .footer__list button {
  width: 252px;
  padding: 25px 0 22px 0;
  background: #1B1D23;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  justify-content: center;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
}
footer .footer__square .footer__list button:hover {
  background: #60636D;
  transition: 0.5s;
}/*# sourceMappingURL=about.css.map */