@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  font-family: League Spartan;
}

body {
  padding-left: 50px;
}
@media (max-width: 555px) {
  body {
    padding: 0;
  }
}
body .home__body {
  position: fixed;
  left: 63px;
}
@media (max-width: 1250px) {
  body .home__body {
    left: 20px;
  }
}
@media (max-width: 555px) {
  body .home__body {
    display: none;
  }
}

header {
  margin: auto;
  max-width: 1110px;
  display: flex;
  align-items: center;
  -moz-column-gap: 95px;
       column-gap: 95px;
  padding: 56px 20px 0 0;
}
header ul {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  list-style: none;
}
header ul a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #7D828F;
}
header ul a:hover {
  color: #1B1D23;
  transition: 0.2s;
}
@media (max-width: 655px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header ul {
    display: none;
  }
  header .btn-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 17px;
  }
  header .btn-menu div {
    width: 100%;
    height: 3px;
    background: #1B1D23;
  }
  header .is-active {
    width: 345px;
    height: 235px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0px;
    background: #EEEFF4;
    justify-content: center;
    row-gap: 17px;
    padding-left: 48px;
    margin-left: 32px;
  }
}
@media (max-width: 655px) and (max-width: 430px) {
  header .is-active {
    width: 280px;
  }
}
@media (max-width: 655px) {
  header .is-active li a {
    color: #1B1D23;
    font-size: 32px;
    line-height: 40px;
  }
}

main {
  max-width: 1110px;
  height: 720px;
  margin: auto;
  margin-top: 56px;
  background-image: url(../img/Bitmap-main.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}
main .main__list {
  max-width: 544px;
  max-height: 355px;
  margin-left: 190px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 615px) {
  main .main__list {
    margin-left: 58px;
  }
}
@media (max-width: 327px) {
  main .main__list {
    margin-left: 20px;
  }
}
main .main__list h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 475px) {
  main .main__list h1 {
    font-size: 48px;
    line-height: 48px;
  }
}
main .main__list p {
  max-width: 445px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
main button {
  width: 252px;
  padding: 25px 0 22px 0;
  background: #1B1D23;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  justify-content: center;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
  margin-top: 31px;
}
main button:hover {
  background: #60636D;
  transition: 0.5s;
}
main .square {
  width: 320px;
  height: 80px;
  margin-top: 6px;
  display: flex;
  transform: translate(-270px, 87px);
}
@media (max-width: 1245px) {
  main .square {
    display: none;
  }
}
main .square .square_ {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
main .square ._1 {
  background: #1B1D23;
}
main .square ._2 {
  background: #FFFFFF;
}
main .square ._2:hover {
  background: #EEEFF4;
  cursor: pointer;
}
main .square ._2 p {
  color: #7D828F;
}

.welkome {
  max-width: 1110px;
  height: 658px;
  margin: 108px auto 0;
  background-image: url(../img/Bitmap-welkome.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.welkome .dashboard {
  width: 65px;
  height: 3px;
  background: #C8CCD8;
  display: none;
  margin-bottom: 150px;
  margin-left: 33px;
}
@media (max-width: 1000px) {
  .welkome {
    background-image: none;
  }
}
@media (max-width: 555px) {
  .welkome h1 {
    display: none;
  }
  .welkome .dashboard {
    display: table;
  }
}
.welkome h1 {
  color: #EEEFF4;
  font-size: 250px;
  font-style: normal;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  margin: 0;
}
@media (max-width: 1000px) {
  .welkome h1 {
    font-size: 120px;
    margin-left: 97px;
  }
}
.welkome .welkome__div {
  display: flex;
  max-width: 446px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 43px;
  margin-top: -40px;
  margin-left: 189px;
}
@media (max-width: 1000px) {
  .welkome .welkome__div {
    margin-left: 97px;
  }
}
@media (max-width: 555px) {
  .welkome .welkome__div {
    margin-left: 0;
    padding: 0 32px;
  }
}
.welkome .welkome__div h2 {
  color: #1B1D23;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin: 0;
}
.welkome .welkome__div .welkome__div__list {
  color: #60636D;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.small-team {
  max-width: 1110px;
  height: 560px;
  margin: 200px auto 0;
  background-image: url(../img/Bitmap.small-team.svg);
  background-position: center center;
  display: flex;
  align-items: center;
}
.small-team .small-team__list {
  width: 445px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-left: 190px;
}
@media (max-width: 565px) {
  .small-team .small-team__list {
    margin-left: 58px;
  }
}
.small-team .small-team__list h2 {
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin: 0;
}
@media (max-width: 435px) {
  .small-team .small-team__list h2 {
    font-size: 57px;
    line-height: 52px;
  }
}
.small-team .small-team__list button {
  width: 187px;
  height: 72px;
  background: #1B1D23;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  justify-content: space-around;
}
.small-team .small-team__list button:hover {
  background: #60636D;
  transition: 0.5s;
}

.see-more {
  max-width: 1110px;
  display: inline-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 465px) {
  .see-more {
    margin-top: 73px;
    transform: translateX(15%);
  }
}
.see-more h3 {
  color: #1B1D23;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
.see-more button {
  width: 187px;
  height: 72px;
  background: #1B1D23;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  justify-content: space-around;
}
.see-more button:hover {
  background: #60636D;
  transition: 0.5s;
}
@media (max-width: 465px) {
  .see-more button {
    display: none;
  }
}

.section {
  width: 1110px;
  height: 560px;
  margin: 65px auto 0;
  display: flex;
  gap: 30px;
}
@media (max-width: 1120px) {
  .section {
    flex-direction: column;
    margin-left: 10%;
  }
}
@media (max-width: 555px) {
  .section {
    margin: 0;
    width: 311px;
    height: 859px;
    justify-content: center;
    transform: translateX(15%);
  }
}
.section .section__ {
  width: 840px;
  height: 560px;
}
@media (max-width: 1120px) {
  .section .section__ {
    max-width: 573px;
    height: 240px;
  }
}
@media (max-width: 555px) {
  .section .section__ {
    width: 311px;
    height: 240px;
    display: flex;
    align-items: flex-end;
  }
}
.section .section__ h3 {
  color: white;
  text-align: right;
  font-size: 250px;
  font-style: normal;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
  margin: 0;
  margin-top: 45px;
  margin-right: -11px;
  opacity: 0.5;
}
@media (max-width: 1120px) {
  .section .section__ h3 {
    margin-right: 16px;
  }
}
@media (max-width: 555px) {
  .section .section__ h3 {
    display: none;
  }
}
.section .section__ .section__list {
  max-width: 200px;
  display: inline-flex;
  padding-right: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  display: flex;
  margin-top: 220px;
}
@media (max-width: 1120px) {
  .section .section__ .section__list {
    margin-top: 0px;
    transform: translateY(-100px);
  }
}
@media (max-width: 555px) {
  .section .section__ .section__list {
    transform: translateY(1px);
    margin-bottom: 30px;
  }
}
.section .section__ .section__list h4 {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}
.section .section__ .section__list p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.75;
  margin: 0;
}
.section .photo__1 {
  background-image: url(../img/section-photo-1.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1120px) {
  .section .photo__1 {
    background-image: url(../img/tablet-foto-1.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media (max-width: 555px) {
  .section .photo__1 {
    background-image: url(../img/photo-mobile-1.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.section .photo__2 {
  background-image: url(../img/section-photo-2.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1120px) {
  .section .photo__2 {
    background-image: url(../img/tablet-photo-2.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.section .photo__3 {
  background-image: url(../img/section-photo-3.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1120px) {
  .section .photo__3 {
    background-image: url(../img/tablet-photo-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}/*# sourceMappingURL=main.css.map */