@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    font-family: League Spartan;
}


body{
    padding-left: 50px;

    @media(max-width:555px){
        padding: 0;
    }
    .home__body{
        position:fixed;
        left: 63px;

        @media(max-width:1250px){
            left: 20px;
        }

        @media(max-width:555px){
            display: none;
        }
    }
}

header{
    margin: auto;
    max-width: 1110px;
    display: flex;
    align-items: center;
    column-gap: 95px;
    padding: 56px 20px 0 0;

    ul{
        display: flex;
        column-gap: 56px;
        list-style: none;

        a{
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            color: #7D828F;

            &:hover{
                color:#1B1D23;
                transition: .2s;
            }
        }
    }

    @media(max-width:725px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        ul{
            display: none;
        }

        .btn-menu{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 17px;

            div{
                max-width: 100%;
                height: 3px;
                background: #1B1D23;
            }
        }
        .is-active{
            width: 345px;
            height: 235px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 120px;
            right: 0px;
            background: #EEEFF4;
            justify-content: center;
            row-gap: 17px;
            padding-left: 48px;
            margin-left: 32px;

            @media (max-width:430px){
                max-width: 280px;
            }

            li{
                a{
                    color: #1B1D23;
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
    }
}

main{
    margin-top: 56px;
    section{
        max-width: 1110px;
        height: 720px;
        margin: auto;
        background-image: url(../about.img/section-img.png);
        background-repeat: no-repeat;
        background-position: top left;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @media(max-width:555px){
            background-image:url(../about.img/mobile-photo.png);
        }

        .section__list{
            max-width: 628px;
            height: 503px;
            background: #fff;

            h1{
                color: #EEEFF4;
                text-align: right;
                font-size: 250px;
                font-style: normal;
                font-weight: 700;
                line-height: 200px;
                letter-spacing: -5px;
                margin: 0;
                transform: translateY(-40%);

                @media(max-width:760px){
                    color: #EEEFF4;
                    font-size: 120px;
                    line-height: 200px
                }

                @media(max-width:695px){
                    display: none;
                }
            }
            .section__list__about{
                padding-left: 182px;
                display: flex;
                flex-direction: column;
                row-gap: 55px;
                margin-top: -30px;  
                
                @media(max-width:555px){
                    margin-left:-15%;
                }

                @media(max-width:695px){
                    margin-top: 0;
                    padding-top: 60px;
                }

    
                .dashboard{
                    width: 65px;
                    height: 3px;
                    background: #C8CCD8;
                    margin: 0;

                    @media(max-width:555px){
                        display: none;
                    }
                }
                h3{
                    max-width: 446px;
                    color: #1B1D23;
                    font-size: 72px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 64px; 
                    letter-spacing: -2px;
                    margin: 0;

                    @media(max-width:555px){
                        font-size: 70px;
                        line-height: 60px;
                    }
                    @media(max-width:440px){
                        font-size: 60px;
                        line-height: 55px;
                    }
                }
                p{
                    color: #60636D;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    max-width: 445px;
                    margin: 0;

                    @media(max-width:555px){
                        font-size: 15px;
                        max-width: 430px;
                    }
                    @media(max-width:440px){
                        width: 311px;
                        font-size: 15px;
                        max-width: 430px;
                    }
                }
            }
        }

    }
}
.welkome{
    max-width: 1110px;
    margin:200px auto;
    display: flex;
    flex-direction: column;
    background-image: url(../about.img/welkome.png);
    background-repeat: no-repeat;
    background-position:top right;

    @media(max-width:1055px){
        background-image: none;
    }
    @media(max-width:695px){
        margin-top: 0;
    }

    .dashboard{
        width: 65px;
        height: 3px;
        background: #C8CCD8;
    }

    .welkome__div{
        max-width: 446px;
        flex-shrink: 0;

        h2{
            color: #1B1D23;
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -2px;
        }
        .welkome__div__list{
            p{
                color: #60636D;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
            }
        }
    }
}

.leaders{
    max-width: 1110px;
    margin: auto;
    display: flex;

    @media(max-width:1180px){
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        color: #1B1D23;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; 
        letter-spacing: -2px;
        margin-right: 13.2%;
    }

    .leaders__about{
        max-width: 730px;
        display: flex;
        flex-wrap:wrap;
        column-gap:30px;
        row-gap: 63px;

        @media(max-width:795px){
            justify-content: center;
        }

        .leader__img{
            max-width: 350px;
            height: 399px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            img{
                @media(max-width:360px){
                    width: 311px;
                    height: 284px;
                    margin: auto;
                }
            }

            .leader__name{
                @media(max-width:360px){
                    margin-left: 20px;
                }
            }

            h4{
                color: #1B1D23;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
                margin: 0;
            }
            p{
                color: #1B1D23;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                margin: 0;
            }
        }
    }
}

footer{
    max-width: 100%;
    margin-top:20%; 
    
    @media(max-width:750px){
        margin-top: 30%;
    }

    .footer__square{
        max-width: 1110px;
        margin: auto;
        display: flex;

        @media(max-width:800px){
            width: 100%;
            height: 100%;
            background:#EEEFF4;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }

        .square{
            width: 200px;
            height: 200px;
            background: #1B1D23;
            display: flex;
            justify-content: center;
            align-items:center;

            @media(max-width:1120px){
                width: 120px;
                height: 120px;
            }
            @media(max-width:750px){
                transform: translateY(-50%);
            }

            img{
                width: 96.164px;
                height: 40px;

                @media(max-width:1120px){
                    width: 58px;
                    height: 24.125px;
                }
            }
        }
        .footer__list{
            width:900px;
            background-image:linear-gradient(to right, #EEEFF4,#EEEFF4 90%, white 90%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 43px;

            @media(max-width:1120px){
                max-width: 100% ;
                height: 120px;
            }
            @media(max-width:750px){
                background: none;
                flex-direction: column;
                align-items: center;
                height: 383px;
                justify-content: center;
                gap: 0;
                width: 0;
                margin-top: -80px;
            }
            @media(max-width:805px){
                background-image: none;
            }

            ul{
                width: 313px;
                display: flex;
                list-style: none;
                justify-content: space-between;
                align-items: center;

                @media(max-width:750px){
                    flex-direction: column;
                    row-gap: 32px;
                    align-items: center;
                    margin-top: 35px;
                    justify-content: center;
                    padding-left: 25px;
                    padding-right: 25px;
                }


                a{
                    text-decoration: none;
                    color: #7D828F;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 25px;

                    &:hover{
                        color: #1B1D23;
                    }
                }
            }
            button{
                width: 252px;
                padding: 25px 0 22px 0;
                background: #1B1D23;
                display: flex;
                align-items: center;
                column-gap: 24px;
                justify-content: center;
                cursor: pointer;
                border: 0;
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                color: #ffffff; 
    
    
                &:hover{
                    background: #60636D;
                    transition: .5s;
                }
            }
        }
    }
}