@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    font-family: League Spartan;
}

body{
    .home__body{
        position:fixed;
        left: 63px;
    }
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

header{
    margin: auto;
    max-width: 1110px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 95px;
    padding: 56px 20px 0 0;

    ul{
        display: flex;
        column-gap: 56px;
        list-style: none;

        a{
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            text-align: left;
            color: #7D828F;

            &:hover{
                color:#1B1D23;
                transition: .2s;
            }
        }
    }

    @media(max-width:655px){
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: none;
        }

        .btn-menu{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 17px;

            div{
                width: 100%;
                height: 3px;
                background: #1B1D23;
            }
        }
        .is-active{
            width: 345px;
            height: 235px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 120px;
            right: 0px;
            background: #EEEFF4;
            justify-content: center;
            row-gap: 17px;
            padding-left: 48px;
            margin-left: 32px;

            @media (max-width:430px){
                width: 280px;
            }

            li{
                a{
                    color: #1B1D23;
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
    }
}

// main{
//     width: 1110px;
//     height: 720px;
//     margin: auto;
//     margin-top: 56px;
//     background-image:url(../img/Bitmap-main.svg);
//     background-repeat:no-repeat;
//     background-position: center center;
//     display: flex;
//     align-items:center;
//     padding-left: 190px;

//     .main__list{
//         width: 544px;
//         height: 355px;

//         h1{
//             font-size: 96px;
//             font-weight: 700;
//             line-height: 80px;
//             letter-spacing: -2px;
//             text-align: left;
//             color: #FFFFFF;
//         }
//         p{
//             max-width: 445px;
//             font-size: 18px;
//             font-weight: 500;
//             line-height: 24px;
//             text-align: left;
//             color: #ffffff;
//         }
//         button{
//             width: 252px;
//             height: 72px; 
//             background: #1B1D23;
//             display: flex;
//             align-items: center;
//             column-gap: 24px;
//             justify-content: center;
//             cursor: pointer;
//             border: 0;
//             font-size: 18px;
//             font-weight: 700;
//             line-height: 25px;
//             color: #ffffff;


//             &:hover{
//                 background: #60636D;
//                 transition: .5s;
//             }
//         }
//         .square{
//             width: 320px;
//             height: 80px;
//             margin-top: 6px;
//             display: flex;
//             transform: translateX(-270px);

//             .square_{
//                 width: 80px;
//                 height: 80px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//             }

//             ._1{
//                 background: #1B1D23;
//                 cursor: pointer;
//             }

//             ._2{
//                 background: #FFF;
//                 cursor: pointer;

//                 &:hover{
//                     background: #EEEFF4;
//                     transition: .5s;
//                 }

//                 p{
//                     color: #7D828F;
//                     font-size: 18px;
//                     font-style: normal;
//                     font-weight: 700;
//                     line-height: 25px; 
//                 }
//             }
//         }
//     }
// }
